/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFA500;  /* Fondo naranja */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo para los botones */
.btn {
    padding: 15px 25px;
    font-size: 16px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #128C7E;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.emergency-btn {
    background-color: #FF4136;  /* Color rojo para emergencia */
}

.emergency-btn:hover {
    background-color: #D02C2C;  /* Rojo más oscuro al pasar el ratón */
}

/* Responsive design */
@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    .btn {
        padding: 12px 22px;
        font-size: 14px;
    }
}
